<!DOCTYPE html>
<html>

<head>
  <title>AwesomeAnswersMay2019</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
  <% flash.each do |type, message|%>
  <div>
    <h1><%= type%><%= message%></h1>
  </div>
  <% end%>
  <div class="container">
    <% if user_signed_in? %>
    Hello <%= current_user.full_name%>,
    <%= link_to "Logout", sessions_path, method: :delete, data:{confirm: "Are you sure you want to log out"}%>
    <% else%>
    <%= link_to "Login", new_session_path%> |
    <%= link_to "Sign Up", new_user_path%>
    <% end%>
    <hr>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <%= link_to 'Home', root_path,class:'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'New Question', new_question_path ,class:'nav-link'%>
          </li>
          <li class="nav-item active">
            <%= link_to 'All Questions', questions_path ,class:'nav-link'%>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </div>
</body>

</html>